@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');


  
/* Media Houses */
.container{
    display: flexbox;
    align-content: flex-end;
    float: left;
}
.card img{
    object-fit: cover;
    max-width: 100%;    
}

.card{
    padding-top: 3%;
    padding-bottom: 3%;    
}

.card-title{
    font-family: 'New Rocker', cursive;
    font-weight: bold;
    color: black; 
}
.card-text{
    font-size: medium;
    font-family: 'New Rocker', cursive;
}  

