/* Top header area */
.top-header-area {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #dedede; }
.top-header-area .top-header-content {
    position: relative;
    z-index: 1;
    height: 48px; }
.top-header-area .top-header-content .top-breaking-news-area {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    min-width: 70%;
    width: 70%; }
.top-header-area .top-header-content .top-breaking-news-area .ticker {
    width: 100%;
    text-align: left;
    position: relative;
    overflow: hidden; }
.top-header-area .top-header-content .top-breaking-news-area .ticker ul {
    width: 100%;
    position: relative;
    z-index: 1; }
.top-header-area .top-header-content .top-breaking-news-area .ticker ul li {
    display: none;
    width: 100%; }
.top-header-area .top-header-content .top-breaking-news-area .ticker ul li a {
    display: block;
    font-size: 12px;
    color: #656565;
    height: 38px;
    line-height: 38px; }
.top-header-area .top-header-content .top-breaking-news-area .ticker ul li a:hover, .header-area .top-header-area .top-header-content .top-breaking-news-area .ticker ul li a:focus {
    color: #e20378; }
.top-header-area .top-header-content .top-social-info-area {
    position: relative;
    z-index: 1; }
.top-header-area .top-header-content .top-social-info-area a {
    display: inline-block;
    padding: 0 12px;
    font-size: 14px;
    color: #b0b0b0; }
    @media only screen and (max-width: 767px) {
.top-header-area .top-header-content .top-social-info-area a {
    padding: 0 3px; } }
.top-header-area .top-header-content .top-social-info-area a:hover, .header-area .top-header-area .top-header-content .top-social-info-area a:focus {
    color: #e20378; }


  /* NavBar Area */          
.viral-news-main-menu {
    position: relative;
    width: 100%;
    z-index: 100;
    height: 100px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
.viral-news-main-menu {
    height: 80px; } }
    @media only screen and (max-width: 767px) {
.viral-news-main-menu {
    height: 70px; } }
.viral-news-main-menu .classy-nav-container {
    background-color: transparent; }
.viral-news-main-menu .classy-navbar {
    height: 100px;
    padding: 0; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
.viral-news-main-menu .classy-navbar {
    height: 80px; } }
    @media only screen and (max-width: 767px) {
.viral-news-main-menu .classy-navbar {
    height: 70px; } }
.viral-news-main-menu .classy-navbar .classynav ul li a {
    font-weight: 700; }
.viral-news-main-menu .classy-navbar .classynav ul li a:hover, .header-area .viral-news-main-menu .classy-navbar .classynav ul li a:focus {
    color: #e20378;
    font-weight: 700; }
.viral-news-main-menu .classy-navbar .classynav ul li.active a {
    color: #e20378; }
.viral-news-main-menu .classy-navbar .classynav > ul > li > a {
    text-transform: uppercase;
    padding: 12px 12px 11px;
    background-color: transparent;
    line-height: 1;
    color: #231f1f;
    font-weight: 700; }
.viral-news-main-menu .classy-navbar .classynav > ul > li > a:hover, .header-area .viral-news-main-menu .classy-navbar .classynav > ul > li > a:focus {
    color: #e20378; }
.viral-news-main-menu .search-btn {
    padding: 15px 40px;
    display: block;
    cursor: pointer;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms; }
.viral-news-main-menu .search-btn:hover, .header-area .viral-news-main-menu .search-btn:focus {
    color: #e20378; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
.viral-news-main-menu .search-btn {
    padding: 15px 20px; } }
.viral-search-form {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #e30a73;
    background: -webkit-linear-gradient(to right, #e30a73, #feae04);
    background: linear-gradient(to right, #e30a73, #feae04);
    z-index: 30000;
    top: 150px;
    left: 0;
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms;
    -webkit-transform: scale(0.9) translate3d(0, 0, 0);
    transform: scale(0.9) translate3d(0, 0, 0);
    opacity: 0;
    visibility: hidden; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
.viral-search-form {
    top: 130px; } }
    @media only screen and (max-width: 767px) {
.viral-search-form {
    top: 120px; } }
.viral-search-form form {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 200px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-delay: 500ms;
    transition-delay: 500ms;
    -webkit-transition-duration: 700ms;
    transition-duration: 700ms; }
.viral-search-form form input {
    width: 90%;
    height: 60px;
    position: absolute;
    left: 5%;
    font-size: 14px;
    color: #231f1f;
    font-weight: 600;
    padding: 0 30px;
    border: none;
    border-radius: 5px; }
.viral-search-form form button {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 5%;
    top: 0;
    border: none;
    cursor: pointer;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    border-radius: 0 5px 5px 0; }
.viral-search-form form button:hover {
    background-color: #e20378;
    color: #fff; }
.viral-search-form.active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0); }
.viral-search-form.active form {
    opacity: 1;
    visibility: visible;
    top: 50px; }
.is-sticky #stickyMenu {
    background-color: #fff;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
    border-bottom: none; }
.is-sticky #stickyMenu .viral-search-form {
    top: 100px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
.is-sticky #stickyMenu .viral-search-form {
    top: 80px; } }
    @media only screen and (max-width: 767px) {
.is-sticky #stickyMenu .viral-search-form {
    top: 70px; } }
